body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fdfffc;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(100deg, #00000048, #44ff9211);
  filter: blur(10px);
  z-index: -1; */
/* } */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: normal;
}

#users {
  text-align: center;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  display: block;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  resize: none;
  outline: none;
  border-color: transparent;
  background-color: rgb(26, 26, 26);
  color: white;
  transition: 0.5s;
}

/* textarea:focus {
  font-size: 30px;
} */
.info-container {
  display: flex;
  flex-direction: row;
  gap: 800px;
}

#users {
  /* background-color: #ffffff; */
  padding: 10px;
  /* border: 1px solid #ffffff; */
  border-radius: 5px;
  display: inline-block;
  cursor: default;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
#users:hover {
  transform: scale(110%);
}

p#status {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  cursor: default;
}

.status-connected {
  animation: fadeIn 1s ease-in-out;
  color: rgb(97, 255, 97) !important;
  text-shadow: 0px 0px 5px rgb(97, 255, 97);
}

.status-disconnected {
  color: #dc3545;
  /* text-shadow: 0px 0px 10px #dc3545; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px rgb(97, 255, 97);
  }
}
/* === Pro responsivitu === */
@media screen and (max-width: 768px) {
  textarea {
    width: 90%;
    height: 250px;
  }

  h1 {
    font-size: 2rem;
  }
}
