body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fdfffc;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: normal;
  cursor: default;
}

#users {
  text-align: center;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  display: block;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  resize: none;
  outline: none;
  border-color: transparent;
  background-color: rgb(26, 26, 26);
  color: white;
  transition: 0.5s;
}

/* Info container and elements */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto 0; /* Add spacing below textarea and center it */
}

#status {
  color: white;
  margin: 0;
}

#users {
  color: white;
  text-align: right;
}

#users {
  /* background-color: #ffffff; */
  padding: 10px;
  /* border: 1px solid #ffffff; */
  border-radius: 5px;
  display: inline-block;
  cursor: default;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
#users:hover {
  transform: scale(110%);
}

p#status {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  cursor: default;
}

.status-connected {
  animation: fadeIn 1s ease-in-out;
  color: rgb(97, 255, 97) !important;
  text-shadow: 0px 0px 5px rgb(97, 255, 97);
}

.status-disconnected {
  color: #ff172e !important;
  text-shadow: 0px 0px 5px #ff172e;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px rgb(97, 255, 97);
  }
}
/* === Pro responsivitu === */
@media screen and (max-width: 768px) {
  textarea {
    width: 90%;
    height: 250px;
  }

  h1 {
    font-size: 2rem;
  }
}

.cursor {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  pointer-events: none; /* Ensures it doesn’t block input */
  z-index: 1000;
}

.selection-overlay {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000;
  visibility: visible;
}

.highlight {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.5); /* Yellow highlight */
  pointer-events: none;
  z-index: 1000;
  visibility: visible;
  display: block;
  border: 1px solid red;
}